### Câu 1: Tạo dataframe (df) biểu diễn bộ dữ liệu thô đã cung cấp. Sau đó tìm các insight cơ bản nhất của dataset.

In [138]:
import pandas as pd
data = pd.read_csv('auto_lab.csv')
data

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,NaN,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [139]:
# type
data.dtypes

3                int64
?               object
alfa-romero     object
gas             object
std             object
two             object
convertible     object
rwd             object
front           object
88.6            object
168.8           object
64.1            object
48.8           float64
2548            object
dohc            object
four            object
130              int64
mpfi            object
3.47            object
2.68            object
9              float64
111             object
5000            object
21               int64
27               int64
13495           object
dtype: object

In [140]:
# describe dataset
data.describe()

                3        48.8         130           9          21          27
count  204.000000  204.000000  204.000000  204.000000  204.000000  204.000000
mean     0.823529   53.749020  126.892157   10.148137   25.240196   30.769608
std      1.239035    2.424901   41.744569    3.981000    6.551513    6.898337
min     -2.000000   47.800000   61.000000    7.000000   13.000000   16.000000
25%      0.000000   52.000000   97.000000    8.575000   19.000000   25.000000
50%      1.000000   54.100000  119.500000    9.000000   24.000000   30.000000
75%      2.000000   55.500000  142.000000    9.400000   30.000000   34.500000
max      3.000000   59.800000  326.000000   23.000000   49.000000   54.000000

In [141]:
# describe each column
for col in data.columns:
    print(data[col].describe())
    print("---------------------------------------------")

count    204.000000
mean       0.823529
std        1.239035
min       -2.000000
25%        0.000000
50%        1.000000
75%        2.000000
max        3.000000
Name: 3, dtype: float64
---------------------------------------------
count     203
unique     53
top         ?
freq       40
Name: ?, dtype: object
---------------------------------------------
count        204
unique        22
top       toyota
freq          32
Name: alfa-romero, dtype: object
---------------------------------------------
count     204
unique      2
top       gas
freq      184
Name: gas, dtype: object
---------------------------------------------
count     204
unique      2
top       std
freq      167
Name: std, dtype: object
---------------------------------------------
count      204
unique       3
top       four
freq       114
Name: two, dtype: object
---------------------------------------------
count       204
unique        5
top       sedan
freq         96
Name: convertible, dtype: object
---------------------------------------------
count     204
unique      3
top       fwd
freq      120
Name: rwd, dtype: object
---------------------------------------------
count       204
unique        2
top       front
freq        201
Name: front, dtype: object
---------------------------------------------
count      201
unique      56
top       94.5
freq        21
Name: 88.6, dtype: object
---------------------------------------------
count       203
unique       78
top       157.3
freq         14
Name: 168.8, dtype: object
---------------------------------------------
count      204
unique      45
top       63.8
freq        24
Name: 64.1, dtype: object
---------------------------------------------
count    204.000000
mean      53.749020
std        2.424901
min       47.800000
25%       52.000000
50%       54.100000
75%       55.500000
max       59.800000
Name: 48.8, dtype: float64
---------------------------------------------
count      202
unique     171
top       2385
freq         4
Name: 2548, dtype: object
---------------------------------------------
count     204
unique      7
top       ohc
freq      148
Name: dohc, dtype: object
---------------------------------------------
count      204
unique       7
top       four
freq       158
Name: four, dtype: object
---------------------------------------------
count    204.000000
mean     126.892157
std       41.744569
min       61.000000
25%       97.000000
50%      119.500000
75%      142.000000
max      326.000000
Name: 130, dtype: float64
---------------------------------------------
count      204
unique       8
top       mpfi
freq        93
Name: mpfi, dtype: object
---------------------------------------------
count      204
unique      39
top       3.62
freq        23
Name: 3.47, dtype: object
---------------------------------------------
count     204
unique     37
top       3.4
freq       20
Name: 2.68, dtype: object
---------------------------------------------
count    204.000000
mean      10.148137
std        3.981000
min        7.000000
25%        8.575000
50%        9.000000
75%        9.400000
max       23.000000
Name: 9, dtype: float64
---------------------------------------------
count     204
unique     60
top        68
freq       19
Name: 111, dtype: object
---------------------------------------------
count      204
unique      24
top       5500
freq        37
Name: 5000, dtype: object
---------------------------------------------
count    204.000000
mean      25.240196
std        6.551513
min       13.000000
25%       19.000000
50%       24.000000
75%       30.000000
max       49.000000
Name: 21, dtype: float64
---------------------------------------------
count    204.000000
mean      30.769608
std        6.898337
min       16.000000
25%       25.000000
50%       30.000000
75%       34.500000
max       54.000000
Name: 27, dtype: float64
---------------------------------------------
count     202
unique    185
top         ?
freq        4
Name: 13495, dtype: object
---------------------------------------------

#### Câu 2: Tạo header cho các cột tương ứng với danh sách đặt tên

In [142]:
data.columns = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors", 
                    "body-style", "drive-wheels", "engine-location", "wheel-base", "length", 
                    "width", "height", "curb-weight", "engine-type", "num-of-cylinders", "engine-size",
                    "fuel-system", "bore", "stroke", "compression-ratio", "horsepower",
                    "peak-rpm", "city-mpg", "highway-mpg", "price"]

In [143]:
data_2 = pd.concat([data.head(9), data.tail(6), data.sample(8)], axis = 0)
data_2

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
5,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
6,1,?,audi,gas,std,four,wagon,fwd,front,??,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
7,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
8,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?
198,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,NaN,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625
182,2,122,volkswagen,gas,std,two,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,9.0,85,5250,27,34,7975
68,0,93,mercedes-benz,diesel,turbo,two,hardtop,rwd,front,106.7,...,183,idi,3.58,3.64,21.5,123,4350,22,25,28176
33,1,101,honda,gas,std,two,hatchback,fwd,front,93.7,...,92,1bbl,2.91,3.41,9.2,76,6000,30,34,7129
145,0,89,subaru,gas,std,four,wagon,fwd,front,97,...,108,2bbl,3.62,2.64,9.0,82,4800,28,32,7463
70,-1,?,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,...,234,mpfi,3.46,3.1,8.3,155,4750,16,18,34184
57,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,?,?,9.4,135,6000,16,23,15645
109,0,?,peugot,diesel,turbo,four,wagon,rwd,front,114.2,...,152,idi,3.7,3.52,21.0,95,4150,25,25,13860
7,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875

### Câu 3: Chuyển từ df (bộ dữ liệu) đang có sang kiểu mảng 2 chiều trong Numpy.

In [144]:
import numpy as np
data_3 = np.array(data)
data_3

array([[3, '?', 'alfa-romero', ..., 21, 27, '16500'],
       [1, '?', 'alfa-romero', ..., 19, 26, '16500'],
       [2, '164', 'audi', ..., 24, 30, '13950'],
       ...,
       [-1, '95', 'volvo', ..., 18, 23, '21485'],
       [-1, '95', 'volvo', ..., 26, 27, '22470'],
       [-1, '95', 'volvo', ..., 19, 25, '22625']], dtype=object)

### Câu 4: Thống kê các feature bị khuyết giá trị.

In [145]:
data.isnull().sum()

symboling            0
normalized-losses    1
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           3
length               1
width                0
height               0
curb-weight          2
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                2
dtype: int64

### Câu 5: Đánh giá xem dataset có bao nhiêu phần trăm sample bị khuyết giá trị.

In [146]:
count_sample = 205
for col in data.columns:
    null_sample = data[col].isnull().sum()
    print(null_sample/205)

0.0
0.004878048780487805
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.014634146341463415
0.004878048780487805
0.0
0.0
0.00975609756097561
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.00975609756097561

### Câu 6: Chuyển đổi “?”, hoặc “.”, hoặc “”, hoặc “_”, hoặc “Na”, hoặc “NULL”, hoặc “null”, hoặc “not”, hoặc “Not” sang NaN.

In [147]:
data_6 = data.replace(['?', '.', '', '_', 'Na', 'NULL', 'null', 'not', 'Not'], np.nan)

In [148]:
data_6

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,NaN,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

### Câu 7: Dùng phương pháp thay thế (replace) để xử lý các giá trị bị khuyết cho các feature sau:

In [149]:
data_7 = data_6.copy()
data_7['normalized-losses'].replace(np.nan, data_7['normalized-losses'].astype('float').mean())

0      122.006
1      122.006
2          164
3          164
4      122.006
        ...
199         95
200    122.006
201         95
202         95
203         95
Name: normalized-losses, Length: 204, dtype: object

In [150]:
data_7['bore'].replace(np.nan, data_7['bore'].astype('float').mean())

0      3.47
1      2.68
2      3.19
3      3.19
4      3.19
       ...
199    3.78
200    3.78
201    3.58
202    3.01
203    3.78
Name: bore, Length: 204, dtype: object

In [151]:
data_7['peak-rpm'].replace(np.nan, data_7['peak-rpm'].astype('float').mean())

0      5000
1      5000
2      5500
3      5500
4      5500
       ...
199    5400
200    5300
201    5500
202    4800
203    5400
Name: peak-rpm, Length: 204, dtype: object

In [152]:
data_7['stroke'].replace(np.nan, 'choice')

0      2.68
1      3.47
2       3.4
3       3.4
4       3.4
       ...
199    3.15
200    3.15
201    2.87
202     3.4
203    3.15
Name: stroke, Length: 204, dtype: object

In [153]:
data_7['horsepower'].replace(np.nan, 'choice')

0      111
1      154
2      102
3      115
4      110
      ...
199    114
200    160
201    134
202    106
203    114
Name: horsepower, Length: 204, dtype: object

In [154]:
from statistics import median
data_7['num-of-doors'].replace(np.nan, median(data_7['num-of-doors'].replace(['two', 'four'], [2, 4]).astype('float')))

0       two
1       two
2      four
3      four
4       two
       ...
199    four
200    four
201    four
202    four
203    four
Name: num-of-doors, Length: 204, dtype: object

### Câu 8: Dùng phương pháp loại bỏ (drop) cho các sample đối với các feature bị khuyết.

In [155]:
data_8 = data_6.copy()

In [173]:
data_8 = data_8.dropna()
data_8

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.8,101,5800,23,29,16430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
198,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470

### Câu 9: Viết hàm kiểm tra xem một df có còn bị khuyết dữ liệu không? Nếu không khuyết trả về true, ngược lại false.

In [189]:
def cau9(df):
    if (df.isna().sum().sum() == True):
        return True
    else:
        return False

In [190]:
cau9(data_8)

False

### Câu 10: Kiểm tra kiểu dữ liệu của mỗi attribute trong df. Sau đó, chuyển về kiểu dữ liệu cho phù hợp.

In [193]:
data_10 = data_8.copy()
data_10.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base            object
length                object
width                 object
height               float64
curb-weight           object
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [194]:
data_10['normalized-losses'] = data_10['normalized-losses'].astype('float')
data_10['wheel-base '] = data_10['wheel-base'].astype('float')
data_10['length'] = data_10['length'].astype('float')
data_10['width'] = data_10['width'].astype('float')
data_10['curb-weight'] = data_10['curb-weight'].astype('float')
data_10['bore'] = data_10['bore'].astype('float')
data_10['stroke'] = data_10['stroke'].astype('float')
data_10['horsepower'] = data_10['horsepower'].astype('float')
data_10['peak-rpm'] = data_10['peak-rpm'].astype('float')
data_10['price'] = data_10['price'].astype('float')

### Câu 11: Chuẩn hóa "length", "width" và "height" trong phạm vi [0,1].

In [196]:
data_11 = data_10.copy()

In [197]:
data_11['length'] = (data_11['length']-data_11['length'].min()) / (data_11['length'].max() - data_11['length'].min())
data_11['height'] = (data_11['height']-data_11['height'].min()) / (data_11['height'].max() - data_11['height'].min())

### Câu 12: Tạo các bin là ['Low', 'Medium', 'High'] cho “horsepower”

In [198]:
data_12 = data_11.copy()
bins = np.linspace(min(data_11['horsepower']), max(data_11['horsepower']), 4)
group_names = ['Low', 'Medium', 'High']
data_12['horsepower-binned'] = pd.cut(data_12['horsepower'], bins, labels=group_names, include_lowest = True)
data_12['horsepower-binned']

2      Medium
3      Medium
5      Medium
7      Medium
9      Medium
        ...
197      High
198      High
199    Medium
201    Medium
202    Medium
Name: horsepower-binned, Length: 145, dtype: category
Categories (3, object): [Low < Medium < High]

### Câu 13: Viết hàm lưu các df trong quá trình xử lý dữ liệu của các câu trên thành các tập tin sau “.csv”, hoặc “.json”, hoặc “excel”, hoặc “hdf”, hoặc “.sql”. Đặt tên file lưu trữ theo fomat sau: df_cau0x.&lt;kiểu file&gt;, với x là số thứ tự câu.

In [199]:
def cau13(df, file_style, number):
    if file_style == 'csv':
        return df.to_csv('df_cau0'+str(number)+'.csv')
    if file_style == 'json':
        return df.to_json('df_cau0'+str(number)+'.json')
    if file_style == 'excel':
        return df.to_excel('df_cau0'+str(number)+'.xlsx')
    if file_style == 'hdf':
        return df.to_hdf('df_cau0'+str(number)+'.h5') 
    #if file_style == 'sql':
        #return df.to_sql('df_cau0'+str(number)+'.sql')